.left-panel,
.right-panel {
    /*width: 30%;*/
    width: 400px;
    height: 100%;
    padding: 10px;
    background-color: var(--panel-bg);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Alterado de auto para hidden */
}

.left-panel {
    min-width: 225px;
    max-width: 500px; /* Adicionar largura máxima */
}

.right-panel {
    min-width: 315px;
    max-width: 500px; /* Adicionar largura máxima */
}

.editor-panel {
    width: 40%;
    min-width: 428px;
    height: 100%;
    padding: 10px;
    background-color: var(--panel-bg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
    box-sizing: border-box;
}

/* Ajuste para editor inputs (área superior) */
.editor-inputs {
    margin-bottom: 10px;
    flex-shrink: 0; /* Impede que os inputs encolham */
}

/* Estilo específico para página de edição */
/*body[data-page="editor"] .container {
    justify-content: center;*/
    /*min-width: 960px; /* Adicionada largura mínima */
    /*width: auto;/
}*/

/*body[data-page="editor"] .editor-panel {
    min-width: 624px;
    width: 65%; /* Aumentado para ocupar mais espaço */
    /*max-width: none; /* Removido limite máximo */
/*}

body[data-page="editor"] .right-panel {
    min-width: 336px;
    /*width: 35%; /* Ajustado para complementar o editor-panel */
    /*max-width: none; /* Removido limite máximo */
/*}*/
