.left-panel,
.right-panel {
    width: 30%;
    min-width: 200px;
    height: 100%;
    padding: 10px;
    background-color: var(--panel-bg);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Alterado de auto para hidden */
}

.editor-panel {
    width: 40%;
    min-width: 400px;
    height: 100%;
    padding: 10px;
    background-color: var(--panel-bg);
    display: grid;
    grid-template-rows: min-content auto 8px 1fr;
    gap: 5px;
    overflow: hidden;
    box-sizing: border-box;
}