#resizer-left,
#resizer-right {
    width: 3px;
    height: 100%;
    background-color: var(--resizer-color);
    cursor: col-resize;
    flex-shrink: 0;
    transition: all 0.2s ease;
}

#resizer-left:hover,
#resizer-right:hover,
#resizer-left.dragging,
#resizer-right.dragging {
    width: 3px;
    background-color: var(--resizer-hover);
}