#editor-container {
    grid-row: 2;
    height: 50%;
    min-height: 50px;
    border: 0;
    border-radius: 4px;
    overflow: auto;
}

.textarea-editor {
    grid-row: 4;
    height: 100%;
    min-height: 50px;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--panel-bg);
    color: var(--text-primary);
    border-color: var(--textarea-border);
}

.tox-tinymce {
    border: none !important;
}