body:not(.ql-editor *) {
    /*font-family: 'Libre Baskerville', Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 1.6;
}

.modelo-box {
    /*font-family: 'Libre Baskerville', Baskerville, serif;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 1.6;
}

.tab {
    font-size: 13px;
}

.btn-inserir,.btn-danger,.btn-editar {
    font-family: inherit;
    font-size: 12px;
}
